wode<br />

<a href="//brook3.github.io" target="_blank">个人主页</a>
<a href="//127.0.0.1" target="_blank">本地</a>
<br />
1.常用网址<br />
<a href="//music.163.com" target="_blank">网易云音乐</a>
<a href="//user.qzone.qq.com" target="_blank">QQ空间</a>
<a href="//www.zhihu.com" target="_blank">知乎</a>
<a href="//weibo.com" target="_blank">微博</a>
<a href="//www.jianshu.com" target="_blank">简书</a>
<a href="//tieba.baidu.com" target="_blank">贴吧</a>
<br />
<a href="//www.bilibili.com" target="_blank">哔哩哔哩</a>
<a href="//v.qq.com" target="_blank">腾讯视频</a>
<a href="//www.iqiyi.com" target="_blank">爱奇艺</a>
<br />
<a href="//github.com" target="_blank">GitHub</a>
<a href="//gitee.com" target="_blank">码云</a>
<br />
<a href="//www.jd.com" target="_blank">京东</a>
<a href="//www.taobao.com" target="_blank">淘宝</a>
<br />
<a href="//www.toutiao.com" target="_blank">今日头条</a>
<br />
<a href="//www.weiyun.com/disk" target="_blank">微云</a>
<a href="//" target="_blank">百度云</a>
<br />
<a href="//www.12306.cn" target="_blank">12306</a>
<a href="//www.ctrip.com" target="_blank">携程</a>
<br />
<a href="//www.baidu.com" target="_blank">百度</a>
<a href="//cn.bing.com" target="_blank">Bing</a>
<a href="//www.sogou.com" target="_blank">搜狗</a>
<a href="//" target="_blank">/</a>
<br />
2.常用工具，可能完成不了
时间戳转换
json转换
<br />
3.笔记
wiki里边什么的
linux
vim

<br />
4.随笔
写一些文章
<br />
5.这个很重要，站内搜索

<br />
6.万年历，时间
