<link rel="stylesheet" href="{{ '/assets/default/css/siteNavigation.css?v=' | append: site.github.build_revision | relative_url }}">

常用<br />
<a href="//link.bilibili.com/p/center/index#/my-room/start-live" target="_blank">开启直播</a>
<a href="http://live.bilibili.com/8995699" target="_blank">我的直播间</a>
<br />
<a href="//brook3.github.io" target="_blank">个人主页</a>
<br />

1.常用网址<br />
<a href="//github.com" target="_blank">GitHub</a>
<a href="//gitee.com" target="_blank">码云</a>
<br />

社区
<br />
<a href="//user.qzone.qq.com" target="_blank">QQ空间</a>
<a href="//www.zhihu.com" target="_blank">知乎</a>
<a href="//weibo.com" target="_blank">微博</a>
<a href="//www.jianshu.com" target="_blank">简书</a>
<a href="//tieba.baidu.com" target="_blank">贴吧</a>
<br />

视频
<br />
<a href="//www.bilibili.com" target="_blank">哔哩哔哩</a>
<a href="//v.qq.com" target="_blank">腾讯视频</a>
<a href="//www.iqiyi.com" target="_blank">爱奇艺</a>
<br />

音乐
<br />
<a href="//music.163.com" target="_blank">网易云音乐</a>
<br />

游戏
<br />
<a href="//huoying.qq.com/server/website" target="_blank">火影ol</a>
<br />

购物
<br />
<a href="//www.jd.com" target="_blank">京东</a>
<a href="//www.taobao.com" target="_blank">淘宝</a>
<br />

云
<br />
<a href="//www.weiyun.com/disk" target="_blank">微云</a>
<a href="//" target="_blank">百度云</a>
<br />

说走就走
<br />
<a href="//www.12306.cn" target="_blank">12306</a>
<a href="//www.ctrip.com" target="_blank">携程</a>
<br />

其他
<br />
<a href="//www.toutiao.com" target="_blank">今日头条</a>
