<head>
	<meta charset="UTF-8">
	<!--  seo 的在这里，会报错。先注释掉了 -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#157878">
	<!-- <link rel="stylesheet" href="{{ '/assets/default/css/style.scss?v=' | append: site.github.build_revision | relative_url }}"> -->
	<!-- 自定义样式 -->
	<link rel="stylesheet" href="{{ '/assets/default/css/Brook3.css?v=' | append: site.github.build_revision | relative_url }}">
	<!-- js框架引入 mootools -->
	<script type="text/javascript" src="{{ '/assets/default/js/block/moo_min.js?v=' | append: site.github.build_revision | relative_url }}"></script>
</head>
