.site-sidebar{
	background-color:red;
}
.site-sidebar:hover{
	margin-left:0;
}
.site-sidebar ul{
    position:absolute;
    top:3vh;
    right:3vw;
}
.site-sidebar ul li{
    float:left;
    padding:0 1vw;
}
