{% include default/block/header.html %}

{% include default/block/sidebar.html %}

<section class="main">
	<div class="searchPage">
		{% include default/searchPage.html %}
	</div>
	<div class="siteNavigation center">
		{% include default/siteNavigation.html %}
	</div>
	<div class="homePage display-none">
		{% include default/homePage.html %}
	</div>
	<div class="notes display-none">
		{% include default/notes.html %}
	</div>
	<div class="blogs display-none">
		{% include default/blogs.html %}
	</div>
</section>

{% include default/block/footer.html %}
